body {
    font-family: Arial, sans-serif;
}

form {
    margin: 20px;
}

input, textarea {
    margin: 5px 0;
    padding: 8px;
    width: 100%;
    max-width: 400px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

#token {
    color: lightgrey;
}

.autocomplete-items {
    position: absolute;
    color: black;
    background-color: white;
    border: 2px solid #d4d4d4;
    max-height: 150px;
    overflow-y: auto;
    z-index: 99;
}

